/* 
    Document   : digitaldelivery
    Created on : Jan 14, 2013, 7:18:15 PM
    Author     : magneticmg
    Description:
        Purpose of the stylesheet follows.
*/
h2.title { margin-bottom: 15px;}
.order-download, .order-info, .order-id { float: left; padding-right: 15px;}
.order-info { width: 450px}
.order { padding-top: 25px;}
.product_name { font-weight: bold;}
a.btn-primary, a.button { border: 1px solid #ff0000; border-radius: 10px; background-color: #990000; color: #ffffff; font-weight: bold; padding: 8px; margin-top: 10px;}
a.btn-primary:hover, a.button:hover { background-color: #ff0000; text-decoration: none; opacity: 50%}
div.buy { float: left}
div.product-info { width: 400px; float: left; margin-right: 25px;}
div.product-info div.product-name {font-weight: bold; font-size: larger; }
div.product-block { margin: 20px;}
.product-price { font-size: 12pt; font-style:  italic; font-weight:  bold; color: #990000; }